#bottom-copyright1{
    margin: 0;
    margin-top: 80px;
    font-size: 34px;
    color: #b2b2b2;
    text-align: center;
}

#bottom-copyright2{
    margin: 0;
    margin-top: 48px;
    margin-bottom: 140px;
    font-size: 34px;
    color: #b2b2b2;
    text-align: center;
}